body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(195, 195, 223);
    text-align: center;
}

.tarjetas {
   background-color: white;
   border: 1px solid rgb(163, 163, 163) ;
   border-radius: 10px;
   padding: 20px;
   height: 200px;
    width: 200px; 
    box-sizing: border-box;
    margin: 10px;
}

img{
    height: 100px;
    width: auto;   
}